
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --transition-speed: 1s;
    --drawer-width: clamp(210px, 22vw, 325px);

}


* {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

body {
    font-family: "Roboto", sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;

    background-color: gray;
    
}

    /*SIDEBAR*/
.sidebar {
    background-color: #0ea5e9;
    height: 100vh;
    color: white;
    border: 2px solid black;
    padding: 0.5em;
}

.list-items {
    margin-top: 40px;
}
.list-items-bottom {
    margin-top: 50px;
}

.logo-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
}

.logo-text h1 {
    margin-left: 20px;
}

.icon-text p {
    margin-left: 30px;
    font-weight: bold;
}

.icon-text img {
    width: 30px;
    height: auto;
    color: white;
    filter: invert(100%);

}

.icon-black-to-white {
  filter: invert(100%);
}

    /*MAIN SCREEN*/
.main {
    background-color: white;
    height: 100vh;
    display: grid;
    grid-template-rows: 17% 83%;
}

.content {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-row: 100%;
    gap: 25px;
}

.projects {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 20px;
}
.projects h3 {
    margin-bottom: 10px;
}
.side-content {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-right: 45px;
}

.cards {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    
}

.card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Outer drop shadow */
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.card-text {
    font-weight: 250;
}
.icons {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}
.icons img {
    width: 25px;
    height: auto;
    padding: 15px;
}

.gold-line-border {
    border-left: 10px solid gold;
}

.side-content .card {
    height: 30vh;
}

.trending {
    margin-top: 30px;
}

.trending .card {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(4, 1fr);
    padding: 20px;

}

.trending .card .icon img {
    width: 50px;
    height: auto;
}

.userName {
    font-size: 14px;
    font-weight: 500;
}
.user-desc {
    font-size: 12px;
    font-weight: 250;
}

.announce-area {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}

.announce-hdr {
    font-size: 14px;
    font-weight: 500;
}
.announce-text {
    font-size: 12px;
    font-weight: 250;
    margin-bottom: 10px;
}
.announce-hdr {
    margin-top: 10px;
}

.light-line-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;
}

.form-input {
    width: 500px;
    background-color: #d4d4d4;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    margin-left: 20px;
    margin-right: 200px;
}

.welcome {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.welcome button {
    width: 100px;
    margin: 20px;
    background-color: #0ea5e9;
    color: white;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    border-color: #0ea5e9;
    border-radius: 20px;
}

.right {
    margin-left: 20px;
}

.btn-container {

    margin-left: 250px;
}

.navbar img {
    width: 25px;
    height: auto;

}

.profileName {
    margin-left: 40px;
}

.bellNavBar {
    margin-left: 20px;
    margin-right: 20px;
}

.avatarWelcome {
    width: 80px;
    height: auto;
    margin-left: 40px;
}

#avatar {
    width: 50px;
    height: auto;
}

.content {
 background-color: #d4d4d4;
}

.icon-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 40px ;
    font-size: 20px;
}
